* {
  box-sizing: border-box; }

h1 {
  font-size: 1.5em; }
  h1:first-child {
    margin-top: 0; }

html {
  line-height: 1.61803; }

body {
  color: #444140;
  font-family: "Roboto", sans-serif;
  padding-top: 79px; }

.top-nav {
  background-color: #FAFAFA;
  display: flex;
  height: 79px;
  justify-content: center;
  padding: 0.80902em;
  position: fixed;
  top: 0;
  width: 100%; }
  .top-nav .top-nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%; }
  .top-nav .nav-menu {
    display: none; }
    .top-nav .nav-menu.active {
      background: #0B3954;
      display: block;
      left: 0;
      overflow: hidden;
      padding: 20px;
      position: absolute;
      top: 79px;
      width: 100%; }
      .top-nav .nav-menu.active li {
        margin: 1.61803em 0; }
      .top-nav .nav-menu.active a {
        color: #FAFAFA;
        text-align: center;
        width: 100%; }
    @media (min-width: 600px) {
      .top-nav .nav-menu {
        display: flex; } }
  .top-nav .toggler {
    cursor: pointer;
    font-size: 2em; }
    @media (min-width: 600px) {
      .top-nav .toggler {
        display: none; } }
  .top-nav .brand img {
    height: 100%; }
  .top-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .top-nav ul li {
      align-items: center;
      display: flex;
      margin-left: 1.61803em;
      text-transform: uppercase; }
      .top-nav ul li a {
        color: #0B3954;
        font-weight: 700;
        text-decoration: none; }
        .top-nav ul li a:hover {
          color: #FF6663;
          text-decoration: underline; }

.hero-header {
  align-items: flex-end;
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin-bottom: 3.23607em; }
  .hero-header section {
    background-color: rgba(250, 250, 250, 0.8);
    max-width: 1038.1966px;
    padding: 1.61803em;
    text-align: center; }
    @media (min-width: 600px) {
      .hero-header section {
        background-color: #FAFAFA; } }
    .hero-header section h1 {
      font-size: 2em; }

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 0 1.61803em; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  @media (min-width: 600px) {
    .cards {
      flex-direction: row; } }
  .cards .card {
    border: 1px solid #0B3954;
    margin: 0.80902em 0;
    padding: 0.80902em; }
    @media (min-width: 600px) {
      .cards .card {
        margin: 0 0.80902em; } }

.btn {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  font-weight: 700;
  padding: 9px 23px;
  text-decoration: none; }
  .btn-primary {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF6663), color-stop(1, #ff3430));
    background: -moz-linear-gradient(top, #FF6663 5%, #ff3430 100%);
    background: -webkit-linear-gradient(top, #FF6663 5%, #ff3430 100%);
    background: -o-linear-gradient(top, #FF6663 5%, #ff3430 100%);
    background: -ms-linear-gradient(top, #FF6663 5%, #ff3430 100%);
    background: linear-gradient(to bottom, #FF6663 5%, #ff3430 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='darken($secondary-color, 10%)',GradientType=0);
    background-color: #FF6663; }
    .btn-primary:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0B3954), color-stop(1, #0B3954));
      background: -moz-linear-gradient(top, #0B3954 5%, #0B3954 100%);
      background: -webkit-linear-gradient(top, #0B3954 5%, #0B3954 100%);
      background: -o-linear-gradient(top, #0B3954 5%, #0B3954 100%);
      background: -ms-linear-gradient(top, #0B3954 5%, #0B3954 100%);
      background: linear-gradient(to bottom, #0B3954 5%, #0B3954 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-color', endColorstr='$primary-color',GradientType=0);
      background-color: #0B3954; }

hr {
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  height: 1px;
  margin: 3.23607em 0; }

.flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.23607em; }
  @media (min-width: 600px) {
    .flex {
      flex-direction: row; } }
  .flex .col {
    flex: 1;
    margin: 0 0.80902em; }
  .flex .col-wider {
    flex: 2; }

.footer {
  background-color: #444140;
  height: 79px; }
