// Variables

$primary-color: #0B3954;
$secondary-color: #FF6663;
$off-white: #FAFAFA;
$grey: #444140;
$font-main: 'Roboto', sans-serif;
$weight-bold: 700;
$weight-black: 900;
$max-width: 1200px;
$phi: 1.618033988;
$top-nav-height: 79px;


// Mixins

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}


// Resets

* {
  box-sizing: border-box;
}


// Typography
h1 {
  font-size: 1.5em;

  &:first-child {
    margin-top: 0;
  }
}



// Global

html {
  line-height: $phi;
}

body {
  color: $grey;
  font-family: $font-main;
  padding-top: $top-nav-height;
}

.top-nav {
  background-color: $off-white;
  display: flex;
  height: $top-nav-height;
  justify-content: center;
  padding: $phi * 1em / 2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
  .top-nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    width: 100%;
  }

  ul.nav-menu {
    display: none;

    &.active {
      background: $primary-color;
      display: block;
      left: 0;
      overflow: hidden;
      padding: 20px;
      position: absolute;
      top: $top-nav-height;
      width: 100%;

      li {
        margin: $phi * 1em 0;
      }
      
      a {
        color: $off-white;
        text-align: center;
        width: 100%;
      }
    }

    @include for-size(tablet-portrait-up) {
      display: flex;
   }
  }

  .toggler {
    cursor: pointer;
    font-size: 2em;

    @include for-size(tablet-portrait-up) {
      display: none; 
   }
  }

  .brand {
    img {
      height: 100%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      align-items: center;
      display: flex;
      margin-left: $phi * 1em;
      text-transform: uppercase;
      
      a {
        color: $primary-color;
        font-weight: $weight-bold;
        text-decoration: none;

        &:hover {
          color: $secondary-color;
          text-decoration: underline;
        }
      }
    }
  }
}

.hero-header {
  align-items: flex-end;
  background: url('https://images.unsplash.com/photo-1547653872-052e3539decc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin-bottom: $phi + $phi * 1em;

  section {
    background-color: rgba($off-white, 0.8);
    max-width: $max-width - ($phi * 100);
    padding: $phi * 1em;
    text-align: center;
    
    @include for-size(tablet-portrait-up) {
      background-color: $off-white;
    }

    h1 {
      font-size: 2em;
    }
  }
}

.wrapper {
  margin: auto;
  max-width: $max-width;
  padding: 0 $phi * 1em;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  @include for-size(tablet-portrait-up) {
    flex-direction: row;
  }

  .card {
    border: 1px solid $primary-color;
    margin: ($phi / 2) * 1em 0;
    padding: ($phi / 2) * 1em;

    @include for-size(tablet-portrait-up) {
      margin: 0 ($phi / 2) * 1em;
    }
  }
}

.btn {
  color:#ffffff;
  cursor:pointer;
  display:inline-block;
  font-family:Arial;
  font-size:15px;
  font-weight: $weight-bold;
  padding:9px 23px;
  text-decoration:none;

  &-primary {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $secondary-color), color-stop(1, darken($secondary-color, 10%)));
    background:-moz-linear-gradient(top, $secondary-color 5%, darken($secondary-color, 10%) 100%);
    background:-webkit-linear-gradient(top, $secondary-color 5%, darken($secondary-color, 10%) 100%);
    background:-o-linear-gradient(top, $secondary-color 5%, darken($secondary-color, 10%) 100%);
    background:-ms-linear-gradient(top, $secondary-color 5%, darken($secondary-color, 10%) 100%);
    background:linear-gradient(to bottom, $secondary-color 5%, darken($secondary-color, 10%) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='darken($secondary-color, 10%)',GradientType=0);
    background-color:$secondary-color;

    &:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $primary-color), color-stop(1, $primary-color));
      background:-moz-linear-gradient(top, $primary-color 5%, $primary-color 100%);
      background:-webkit-linear-gradient(top, $primary-color 5%, $primary-color 100%);
      background:-o-linear-gradient(top, $primary-color 5%, $primary-color 100%);
      background:-ms-linear-gradient(top, $primary-color 5%, $primary-color 100%);
      background:linear-gradient(to bottom, $primary-color 5%, $primary-color 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-color', endColorstr='$primary-color',GradientType=0);
      background-color:$primary-color;
    }
  }
}

hr {
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  height: 1px;
  margin: $phi + $phi * 1em 0;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-bottom: $phi + $phi * 1em;
  
  @include for-size(tablet-portrait-up) {
    flex-direction: row;
  }

  .col {
    flex: 1;
    margin: 0 ($phi / 2) * 1em $phi * 1em;
    
    @include for-size(tablet-portrait-up) {
      margin-bottom: 0;
    }
  }
  .col-wider {
    flex: 2;
  }
}

.average-tuition-container {

  dl.average-tuition-graph {
    border: 0 solid $grey;
    border-width: 0 0 1px 1px;
    margin-bottom: 0;
    padding: ($phi * 2) * 1px 0 ($phi / 2) * 1em ($phi * 2) * 1px;
    
    dt {
      background-color: $secondary-color;
      border: 1px solid $grey;
      display: block;
      font-size: .8em;
      font-weight: $weight-bold;
      padding: ($phi / 2) * 1em;
      margin: 0 0 ($phi / 2) * 1em;
      
      @for $i from 1 through 100 {
        &.percentage-#{$i} {
          $value: ($i * 1%);
          width: $value;
        }
      }
    }
  }

  .average-tuition-legend {
    ul {
      display: flex;
      font-size: .75em;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;

      &::before {
        color: $grey;
        content: "|";
        display: block;
        height: 10px;
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        line-height: .9;
      }
    }
  }
}

[data-aos="grow-right"] {
  transform: scaleX(0);
  transform-origin: left;
  transition-property: transform;
  &.aos-animate {
    transform: scaleX(1);
  }
}

.footer {
  background-color: $grey;
  height: $top-nav-height;
}